<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Foods app</title>
</head>
<body>
  <h1>Welcome to our foods app</h1>
  <p>An app for collecting your favourite foods</p>
  <a href="/foods">Browse foods</a>
</body>
</html>
